{% extends "::base.html.twig" %}
{% block content %}
<div class="container">
    <div class="row">
        <div class="col-xs-12 col-sm-9 slon container-fluid">
Hello {{ name }}!
        </div>
    </div>
</div>
{% endblock %}
